<header class="container">
  <div class='toolbar left'>
  	<div class="container" style="position: fixed;">
	  	<div class="row">
	  		<div class="input-field col s6">
			    <i class="material-icons prefix">account_circle</i>
			    <input type='text' id='nameInput' placeholder='enter a username...'>
			  </div>
			</div>
			<div class="row center-align">
			  <div class="input-field col s6">
				  <i class="material-icons prefix">chat_bubble_outline</i>
			    <input type='text' id='messageInput'  placeholder='Type a message...'>
			  </div>
			</div>
		    <a class="btn waves-effect waves-light blue" type="submit" name="action" ng-click="submit()">Submit
		    	<i class="material-icons right">send</i>
		  	</a>
	  	</div>
	  </div>
</header>
</header>
<div class="container right">
	<div class="row">
		<div id='messages' class="chat-messages col-s6 center-align"  ng-repeat= "text in messageData">
			<strong class="col-s1">{{text.name}}:</strong>
			<div class="col-s1">{{text.text}}</div>
			<a class="waves-effect waves-light btn red" type='text' ng-click="delete(text.id)">Delete</a>
			<a class="waves-effect waves-light btn blue" type='text' ng-click="showme=true">Edit</a>
			<a class="waves-effect waves-light btn green" type='text' ng-click="showme=false" ng-show=showme>Cancel</a><br>
			<input style="width: 300px" placeholder="Enter your text here" type="text" class="validate" id="editInput{{text.id}}" ng-show=showme><br>
			<a class="btn waves-effect waves-light blue" type="submit" name="action" ng-click="edit(text.id)" ng-show=showme>Submit</a>
			<p ng-hide="showme"></p>
		</div>
	</div>
</div>