<div>
<header>
  <div class='toolbar'>
    <label for="nameInput">Username:</label>
    <input type='text' id='nameInput' placeholder='enter a username...'>
  </div>
    <input type='text' id='messageInput'  placeholder='Type a message...' ng-model="text">
    <button class="btn waves-effect waves-light" type="submit" name="action" ng-click="submit()">Submit
    	<i class="material-icons right">send</i>
  	</button>
</header>
<body>
	<ul id='messages' class="chat-messages" ng-repeat= "text in message"></ul>
</body>
</div>
