<div>
<header>
  <div class='toolbar'>
    <label for="nameInput">Username:</label>
    <input type='text' id='nameInput' placeholder='enter a username...'>
  </div>
    <input type='text' id='messageInput'  placeholder='Type a message...'>
    <button class="btn waves-effect waves-light" type="submit" name="action" ng-click="submit()">Submit
    	<i class="material-icons right">send</i>
  	</button>
</header>
	<div>
		<div id='messages' class="chat-messages"  ng-repeat= "text in messageData"><strong>{{text.name}}</strong>: {{text.text}} </div>
	</div>
</div>
