<div class="container center-align" >
	<div class="row">
		<div class="col m6 offset-m3">
			<section>
  			<h1>Login or Register</h1>
  			<div>
    			<p>Email:</p>
          <input type="text" autofocus="true" ng-model="account.email" />
  			</div>
  			<div>
    			<p>Password:</p>
          <input type="password" ng-model="account.password" />
  			</div>
  			<button class="btn waves-effect waves-light blue" type="submit" name="action" ng-click="login()">Login</button>
  			<button class="btn waves-effect waves-light blue" type="submit" name="action" ng-click="register()">Register</button>
			</section>
		</div>
	</div>
</div>