<nav>
    <div class="nav-wrapper teal">
      <a href="#" class="brand-logo right">Practice</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="#/mission">Our Mission</a></li>
        <li><a href="#/employee">Employees</a></li>
        <li><a href="#/chat">Chat</a></li>
        <li><a href="#/location">Locate Us</a></li>
        <li><a href="#/logout" ng-if="isAuthenticated()">Logout</a>
        <li><a href="#/login" ng-if="!isAuthenticated()">Login</a></li>
      </ul>
    </div>
</nav>